*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}
html {
    scroll-behavior: smooth;
}

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #0e3155;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d6e87;
}
/* == || SCROLL BAR == */
body{
    height: fit-content;
    width: 100% !important;
    display: block;
    background-color: #ffffff;
    position: relative;
}
.cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 1;
    left: 0;
    pointer-events: none;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor i{
    font-size: 30px;
    color: #f4988b;
    transform: rotate(-90deg);
}

.container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

/* == Navigation == */
header{
    height: fit-content;
    width: 100%;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
nav{
    height: fit-content;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2eff5;
    background-color: #ffffff;
}
nav .logo{
    font-size: 24px;
    font-weight: 600;
    color: #241f4c;
}
nav .nav-links{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-links a{
    font-size: 16px;
    font-weight: 500;
    color: #241f4c;
    padding: 10px 10px;
}
nav .nav-links .active-link {
    color: #f4988b;
}
nav .nav-links a:hover{
    color: #f4988b;
}
nav .account-access{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .account-access a{
    font-size: 16px;
    font-weight: 500;
    color: #241f4c;
    padding: 10px 10px;
}
nav .account-access a:hover{
    color: #f4988b;
}
nav .account-access .active-link{
    color: #f4988b;
}
/* == || Navigation == */
/* == Main == */
main{
    width: 100%;
    height: fit-content;
}
.banner{
    height: fit-content;
    width: 100%;
    padding: 50px 0px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text{
    height: fit-content;
    width: 100%;
    max-width: 600px;
    min-width: 280px;
    text-align: center;
}
.banner-text h1{
    font-size: 60px;
    font-weight: 800;
    color: #241f4c;
    line-height: 90px;
    text-align: center;
}
.banner-text p{
    font-size: 16px;
    font-weight: 400;
    color: #241f4c;
    line-height: 36px;
    text-align: center;
}
.banner-btns{
    height: fit-content;
    width: fit-content;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.banner-btns button{
    width: 160px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 8px 12px;
    margin: 0px 10px;
    font-size: 16px;
    font-weight: 500;
}
.banner-btns button:hover{
    box-shadow: 2px 2px 12px #00000033;
}
.banner-btns .get-started{
    color: #faf8fc;
    background-color: #764adf;
}
.banner-btns .get-started i{
    margin-left: 10px;
}
.banner-btns .play-video{
    color: #241f4c;
    background-color: #ffffff;
}
.banner-btns .play-video i{
    margin-right: 6px;
}
.banner-text .underline{
    height: 2px;
    width: 60%;
    background-color: #f2eff5;
    margin: 20px auto 10px;
}
.partner-banner{
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.partner-banner .partner{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-banner .partner i{
    font-size: 24px;
    color: #cacaca;
    margin-right: 4px;
}
.partner-banner .partner span{
    font-size: 18px;
    font-weight: 500;
    color: #cacaca;
}
/* == || Main == */