*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #0e3155;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d6e87;
}
/* == || SCROLL BAR == */
body{
    height: fit-content;
    width: 100% !important;
    display: block;
    background-color: #ffffff;
    position: relative;
}
/* .cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 1;
    left: 0;
    pointer-events: none;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor i{
    font-size: 30px;
    color: #f4988b;
    transform: rotate(-90deg);
} */

.container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto !important;
}
/* .arrow-icon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #feb35c;
} */

/* == Navigation == */
header{
    height: fit-content;
    width: 100%;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
nav{
    height: fit-content;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2eff5;
    background-color: #ffffff;
}
nav .logo{
    font-size: 24px;
    font-weight: 600;
    color: #241f4c;
}
nav .nav-links{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-links .nav-link-bar{
    display: none;
}
nav .nav-links a{
    font-size: 16px;
    font-weight: 500;
    color: #241f4c;
    padding: 10px 10px;
}
nav .nav-links .active-link {
    color: #f4988b;
}
nav .nav-links a:hover{
    color: #f4988b;
}
nav .account-access{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .account-access a{
    font-size: 16px;
    font-weight: 500;
    color: #241f4c;
    padding: 10px 10px;
}
nav .account-access a:hover{
    color: #f4988b;
}
nav .account-access .active-link{
    color: #f4988b;
}
/* == || Navigation == */
/* == Main == */
main{
    width: 100%;
    height: fit-content;
}
.banner{
    height: fit-content;
    width: 100%;
    padding: 50px 0px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.side-image{
    width: 196px;
}
.banner-text{
    height: fit-content;
    width: 100%;
    max-width: 600px;
    min-width: 280px;
    text-align: center;
}
.banner-text h1{
    font-size: 60px;
    font-weight: 800;
    color: #241f4c;
    line-height: 90px;
    text-align: center;
}
.banner-text p{
    font-size: 16px;
    font-weight: 400;
    color: #241f4c;
    line-height: 36px;
    text-align: center;
}
.banner-btns{
    height: fit-content;
    width: fit-content;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.banner-btns button{
    width: 160px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 8px 12px;
    margin: 0px 10px;
    font-size: 16px;
    font-weight: 500;
}
.banner-btns button:hover{
    box-shadow: 2px 2px 12px #00000033;
}
.banner-btns .get-started{
    color: #faf8fc;
    background-color: #764adf;
}
.banner-btns .get-started i{
    margin-left: 10px;
}
.banner-btns .play-video{
    color: #241f4c;
    background-color: #ffffff;
}
.banner-btns .play-video i{
    margin-right: 6px;
}
.banner-text .underline{
    height: 2px;
    width: 60%;
    background-color: #f2eff5;
    margin: 20px auto 10px;
}
.partner-banner{
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}
.partner-banner .partner{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-banner .partner i{
    font-size: 24px;
    color: #cacaca;
    margin-right: 4px;
}
.partner-banner .partner span{
    font-size: 18px;
    font-weight: 500;
    color: #cacaca;
}
/* == Benefit == */
.benefits-container{
    padding: 20px 0px 40px;
}
.benefit-content{
    width: 90%;
    height: fit-content;
    margin: auto;
    border-radius: 40px;
    background-color: #372469;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 40px;
}
.benefit-content .one{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.benefit-content .one h1{
    font-size: 26px;
    font-weight: 600;
    color: #f2eff5;
    line-height: 36px;
    text-align: left;
}
.benefit-content .two {
    padding: 40px 10px 20px;
    margin: 0px 0px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.benefit-content .two:hover{
    background-color: #764adf;
}
.benefit-icon{
    width: 72px;
    height: 72px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin: 10px auto 20px;
}
.benefit-icon img{
    height: 52px;
    width: 52px;
}
.benefit-content .two h2{
    font-size: 18px;
    font-weight: 600;
    color: #f2eff5;
    line-height: 20px;
}
.benefit-content .two a{
    font-size: 12px;
    font-weight: 500;
    color: #87a2d1;
    line-height: 10px;
}
/* == Process == */
.process{
    padding: 50px 0px;
    position: relative;
}
.process-back{
    position: absolute;
    right: 0;
    height: 170px;
    width: 50%;
    background-color: #764adf;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.process-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.process-text{
    width: 100%;
    max-width: 420px;
    min-width: 300px;
}
.process-text span{
    font-size: 14px;
    font-weight: 500;
    color: #764adf;
    line-height: 16px;
}
.process-text h1{
    font-size: 24px;
    font-weight: 600;
    color: #241f4c;
    line-height: 34px;
    letter-spacing: 0.01em;
}
.process-text p{
    font-size: 14px;
    font-weight: 400;
    color: #372469;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin: 10px 0px 16px;
}
.process-text button{
    width: 160px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #f2eff5;
    background-color: #764adf;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin: 10px 0px 0px;
}
.process-stages{
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.process-stages .stage{
    height: 170px;
    width: 130px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: -2px 4px 16px #00000033;
    position: relative !important;
    padding: 10px;
    margin: 10px;
}
.process-stages .stage .stage-number{
    position: absolute !important;
    top: 10px;
    left: 10px;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: #764adf;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.process-stages .stage img{
    margin: 12px 27px 10px;
}
.process-stages .stage h2{
    font-size: 12px;
    font-weight: 500;
    color: #241f4c;
}
.process-stages .stage a{
    font-size: 10px;
    font-weight: 500;
    color: #87a2d1;
}
/* == Courses == */

/* == courses.courses == */
.courses{
    padding: 50px 0px;
    overflow: hidden;
}
.courses-head{
    text-align: center;
    padding: 10px 0px 20px;
}
.courses h3{
    color: #764adf;
    font-weight: 500;
    font-size: 16px;
}
.courses h1{
    color: #241f4c;
    font-weight: 800;
    font-size: 24px;
}
.courses .row {
    margin: 10px;
    display: flex;
  }
  
  /* Create three equal columns that floats next to each other */
  .courses .column {
    margin: 15px 10px;
    float: left;
    height: 396px;
    width: 280px !important;
    border-radius: 10px;
    display: none; /* Hide all elements by default */
    box-shadow: -4px 4px 20px #00000033;
  }
  .courses .column:hover {
      cursor: pointer;
  }
  
  /* Content */
  .courses .content {
    background-color: white;
    padding: 14px;
    height: 396px;
    width: 280px !important;
    border-radius: 10px;
  }
  .courses .content img{
    width: 100%;
    margin: auto !important;
    border-radius: 10px;
  }

  
  /* The "show" class is added to the filtered elements */
  .courses .show {
    display: block;
  }
  .course-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
  }
  .course-info .status{
    padding: 6px 8px;
    background-color: #87a2d133;
    font-size: 14px;
    font-weight: 500;
    color: #87a2d1;
    border-radius: 6px;
  }
  .course-info .price{
    font-size: 16px;
    font-weight: 500;
    color: #87a2d1;
  }
  .course-title-info{
    padding: 4px 0px 14px;
  }
  .course-title{
    height: 60px;
    padding: 0px;
  }
  .course-title-info .course-title h2{
    font-size: 18px;
    font-weight: 600;
    color: #241f4c;
    line-height: 22px;
  }
  .course-title-info .rating{
    padding: 10px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .course-title-info .rating span{
    font-size: 14px;
    color: #f4988b;
  }
  .course-title-info .rating .five-star-rating a{
    font-size: 14px;
    padding: 0px 10px;
    color: #241f4c;
  }
  .course-title-info .rating .five-star-rating a:hover{
    color: #f4988b;
  }
  .course-title-info .enroll{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .course-title-info .enroll span{
    padding: 0px 20px 0px 0px;
    font-size: 14px;
    font-weight: 500;
  }
  .course-title-info .enroll span:nth-child(1){
    color: #241f4c;
  }
  .course-title-info .enroll span:nth-child(2){
    color: #87a2d1;
  }
  .course-title-info .enroll span:nth-child(3) a{
    color: #764adf;
  }
  .course-title-info .enroll span:nth-child(3) a:hover{
    color: #f4988b;
  }
  /* Style the buttons */
  .courses .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    margin: 10px 10px;
  }
  .tab-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .courses .btn:hover {
    background-color: #241f4c;
    color: #ffffff;
  }
  
  .courses .btn.active {
    background-color: #f4988b;
    color: #ffffff;
  }
  .dot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
  }
  .dot-container .dot{
    height: 8px;
    width: 8px;
    background-color: #87a2d1;
    border-radius: 4px;
    margin: 0px 6px;
  }
  .dot-container .dot.active{
    background-color: #241f4c !important;
  }
/* == courses.courses == */
/* == || Main == */


/* == RESPONSIVE == */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 375px) {
    .banner-btns .play-video{
        margin-top: 14px;
    }
    .courses-container{
        width: 96%;
    }
    .process-stages{
        margin: 40px 0px 0px 2px !important;
    }
}
@media only screen and (max-width: 575px) {
    .process-back{
        width: 86%;
    }
}
@media (min-width: 375px) and (max-width: 575px) {
    .process-stages{
        margin: 40px 0px 0px 50px !important;
    }
}
@media (min-width: 600px) and (max-width: 790px) {
    .process-stages{
        margin: 40px 0px 0px 50% !important;
    }
}
@media only screen and (max-width: 790px) {
    .benefit-content{
        justify-content: center;
    }
    .process-stages{
        float: right !important;
    }
    .process-stages{
        margin: 40px 0px 0px 0px;
    }
    .process-back{
        top: 54% !important;
    }
    .process-image{
        margin: 40px auto 0px;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        width: 90%;
    }
    nav .nav-links .nav-link{
        display: none;
    }
    nav .nav-links .nav-link-bar{
        display: block;
    }
    nav .account-access{
        display: none;
    }
    .banner-text{
        order: 1;
    }
    .side-image:nth-child(1){
        margin: 0px 5px;
        order: 2;
        width: 130px;
    }.side-image:nth-child(3){
        order: 3;
        margin: 0px 5px;
        width: 130px;
    }
    .side-image img{
        width: 130px;
    }
}
@media (min-width: 800px)  and (max-width: 992px) {
    .process-back{
        top: 30%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .process-back{
        top: 30%;
    }
    .process-stages{
        margin: 0px 50px 0px 0px;
    }
}
/* == || RESPONSIVE == */